.pagenumber{
    float:left;
}

.next_button{
    float:right;
    margin-right:20px
}
.finish_button {
    float:right;
    margin-right:20px
}

footer {
    margin-top: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #333333;
color: #f8f8f8;
font-size: 1.15rem;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border-radius: 6px;
padding: 15px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
top: 100%;
left: 50%;
margin-left: -100px;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.required{
    color: darkred;
    font-size: .8rem;
    font-style: italic
}